.textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  height: 300px;
  box-sizing: border-box;
  font-size: 14px;
}

.body {
  padding: 20px;
}

.btnList {
  margin-top: 10px;
  display: flex;
  > button {
    margin-right: 10px;
  }
}
